<div>
    <h2 class="text-dark text-center">Display wallet </h2>
  </div>
  <div class="row">
      <div class="col-sm-4"></div>
<div class="container mt-4 col-sm-4">
    <h3 class="text-success ">Users List:</h3>

    <table class="table mt-4">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>salary</th>
        </tr>
    <tr>
        <td>{{wallet.id}}</td>
        <td>{{wallet.name}}</td>
        <td>{{wallet.balance}}</td>
    </tr>
    
    </table>
    
    
</div>
<div class="col-sm-4"></div>
</div>


