<div>
    <h2 class="text-dark text-center">Update wallet </h2>
  </div>
  <div class="row">
      <div class="col-sm-4"></div>
<div class="container col-sm-4">
    <table>
        <tr>
            <td>User Id:</td>
            <td><input type="text" [(ngModel)]="wallet.id" name="empId" disabled></td>
        </tr>
        
        <tr>
            <td>User Name:</td>
            <td><input type="text" [(ngModel)]="wallet.name" name="empname"></td>
        </tr>
        
        <tr>
            <td>Balance:</td>
            <td><input type="number" [(ngModel)]="wallet.balance" name="empSalary"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" [(ngModel)]="wallet.password" name="empPasswaord"></td>
        </tr>

        <tr>
            <td></td>
            <input class="btn btn-success ml-5" (click)="update()" type="submit"  value ="Update"></tr>
    </table>
</div>
<div class="col-sm-4"></div>
</div>

<div *ngIf="IsUpdate" class="alert alert-success container" role="alert">
     Successfully updated
  </div>